<!DOCTYPE html> 
<html> 

<head> 
	<title>Autocomplete on/off</title> 

	<style> 
		h1 { 
			color: green; 
		} 
	</style> 
</head> 

<body style="text-align:center;"> 
	
	<h1 style="color:green;"> 
		Signup 
	</h1> 
	
	
	
	<form action="/login" method="post"
					autocomplete="on"> 
		
		
		Email_id: <input type="email" name="email" required>
		
		<br><br> 

        Password: <input type="password" name="password" required>
        <br><br>
		
		 

		
		<input type="submit" value="Login"> 
	</form> 
	

</body> 

</html>
